html {
    scroll-behavior: smooth;
}

body {
    font-family: IBM Plex Mono;
    width: 100%;
    background: #FFFFFF;
}

header {
    background-image: url('image/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 765px;
}

.container {
    margin: 0 auto;
    max-width: 1150px;
    padding: 0 15px;
}

main {
    background-color: #000;
}

.main__navigation {
    margin-bottom: 270px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__navigation-buttons {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.navigation__btn {
    color: #FFF;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.54px;
    text-decoration: none;
}

.main__text {
    margin-bottom: 30px;
    width: 430px;
    height: 103px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
}

.main__title {
    width: 919px;
    height: 205px;
    flex-shrink: 0;
    color: #1BFF07;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -2.4px;
}

.project {
    margin-bottom: 150px;
    padding: 90px 0;
}

h2 {
    margin-bottom: 40px;
    width: 1048px;
    color: #FFF;
    font-size: 55px;
    line-height: normal;
    letter-spacing: -1.65px;
}

.project__metrika {
    padding: 60px 65px;
    background-image: url('image/metrika.png');
    background-repeat: no-repeat;
    width: 1150px;
    height: 550px;
}

.porject__btn {
    margin-bottom: 320px;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid #1BFF07;
    background: #1BFF07;
    cursor: pointer;
}

.project__name {
    width: 401px;
    color: #FFF;
    font-size: 35px;
    line-height: normal;
    letter-spacing: -1.05px;
}

.project__text {
    width: 506px;
    color: #FFF;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -0.9px;
}

.project__nothing {
    padding: 60px 65px;
    background-image: url('image/nothing.png');
    background-repeat: no-repeat;
    width: 1150px;
    height: 550px;
}

.project__toptrip {
    margin-bottom: 80px;
    padding: 60px 65px;
    background-image: url('image/toptrip.png');
    background-repeat: no-repeat;
    width: 1150px;
    height: 550px;
}

.projects__btn {
    width: 582px;
    height: 153px;
    border-radius: 10px;
    border: 1px solid #1BFF07;
    background: #1BFF07;
    color: #000;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -0.9px;
}

.competencies__title {
    margin-bottom: 80px;
}

.competencies__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.svg {
    margin-bottom: 15px;
}

.competencies__name {
    margin-bottom: 15px;
    color: #1BFF07;
    font-size: 35px;
    line-height: normal;
    letter-spacing: -1.05px;
}

.competencies__text {
    align-items: end;
    align-content: end;
    width: 535px;
    color: #FFF;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
}