html {
    scroll-behavior: smooth;
}

body {
    font-family: IBM Plex Mono;
    width: 100%;
    background: #FFFFFF;
}

header {
    background-image: url('image/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 765px;
}

.container {
    margin: 0 auto;
    max-width: 1150px;
    padding: 0 15px;
}

.navigation {
    margin-bottom: 240px;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo {
    width: 130px;
    height: 39px;
    border-radius: 100px;
    background: #000;
}

.navigation__logo-text {
    padding: 0 7px;
    color: #1BFF07;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -4.666px;
    text-transform: uppercase;
}

.navigation__buttons {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.navigation__btn {
    color: #FFF;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.54px;
    text-decoration: none;
}

.navigation__text {
    margin-bottom: 30px;
    width: 430px;
    height: 103px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
}

.navigation__title {
    width: 919px;
    height: 205px;
    flex-shrink: 0;
    color: #1BFF07;
    font-size: 80px;
    line-height: 65px;
    letter-spacing: -2.4px;
}

main {
    padding-top: 150px;
    background-color: #000;
}

.project {
    margin-bottom: 150px;
}

h2 {
    margin-bottom: 40px;
    width: 1048px;
    color: #FFF;
    font-size: 55px;
    line-height: normal;
    letter-spacing: -1.65px;
}

.project__container {
    padding: 60px 65px;
    position: relative;
    display: block;
    border-radius: 30px;
    width: 100%;
    height: 550px;
}

.project__img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 550px;
    background-size: contain;
    background-repeat: no-repeat;
}

.porject__span {
    position: relative;
    padding: 10px;
    border-radius: 100px;
    border: 1px solid #1BFF07;
    background: #1BFF07;
    font-size: 20px;
}

.project__name {
    position: absolute;
    bottom: 90px;
    left: 50px;
    width: 401px;
    color: #FFF;
    font-size: 35px;
    line-height: normal;
    letter-spacing: -1.05px;
}

.project__text {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 506px;
    color: #FFF;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -0.9px;
}

.project__container:last-child {
    margin-bottom: 80px;
}

.project__btn {
    width: 582px;
    height: 153px;
    border-radius: 10px;
    border: 1px solid #1BFF07;
    background: #1BFF07;
    color: #000;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 1.5px;
}

.competencies {
    margin-bottom: 150px;
}

.competencies__title {
    margin-bottom: 80px;
}

.competencies__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.competencies__svg {
    margin-bottom: 15px;
}

.competencies__name {
    margin-bottom: 15px;
    color: #1BFF07;
    font-size: 35px;
    line-height: normal;
    letter-spacing: -1.05px;
}

.competencies__text {
    width: 535px;
    color: #FFF;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
}

.competencies__mg {
    margin-bottom: 63px;
}

.work {
    margin-bottom: 150px;
}

.work__title {
    margin-bottom: 75px;
    width: 403px;
    color: #FFF;
    font-size: 35px;
    line-height: normal;
    letter-spacing: -1.05px;
}

.work__container {
    margin-bottom: 40px;
    border-radius: 30px;
    width: 100%;
}

.work__container:last-child {
    margin-bottom: 0;
}

.work__img {
    width: 100%;
}

.work__box {
    padding: 45px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 283px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #191C19;
}

.work__name {
    width: 470px;
    color: #1BFF07;
    font-family: IBM Plex Mono;
    font-size: 55px;
    line-height: 110%;
    letter-spacing: -1.65px;
}

.work__text {
    width: 525px;
    color: #FFF;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
}

.connection {
    margin-bottom: 10px;
    width: 100%;
    height: 717px;
    border-radius: 30px;
    background: #191C19;
    position: relative;
}

.connection__img {
    position: absolute;
    left: 59%;
}

.connection__box {
    padding-top: 95px;
    height: 700px;
}

.connection__title {
    width: 520px;
}

.connection__form {
    padding: 20px 0;
}

.connection__input {
    margin-bottom: 25px;
    padding: 0 40px;
    width: 490px;
    height: 60px;
    font-size: 22px;
    text-align: start;
    border-radius: 1000px;
    border: none;
    background: #3B3D3B;
    color: #FFF;
}

.connection__input::-webkit-input-placeholder {
    color: #FFF;
}

.connection__input:last-child {
    margin-bottom: 60px;
}

.connection__btn {
    width: 450px;
    height: 70px;
    border-radius: 10px;
    background: #1BFF07;
    color: #000;
    border: none;
    text-align: center;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
    cursor: pointer;
}

footer {
    padding: 75px 0;
    width: 100%;
    height: 273px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background: #FFF;
}

.menu__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.menu__btn {
    text-decoration: none;
    color: #000;
    font-family: Manrope;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px
}

.menu__buttons {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.menu__box {
    display: flex;
    justify-content: space-between;
}

.menu__text {
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
    opacity: 0.5;
}