.competencies {
    margin-bottom: 150px;
    color: #FFF;
}

.competencies__title {
    margin-bottom: 80px;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: -1.65px;
}

.competencies__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
}

.competence__img {
    margin-bottom: 10px;
}

.competence__title {
    margin-bottom: 15px;
    color: #1BFF07;
    font-size: 35px;
    line-height: normal;
    letter-spacing: -1.05px;
}

.competence__text {
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.66px;
}

.competencies__m_b {
    margin-bottom: 63px;
}

@media (max-width: 961px) {
    .competencies {
        margin-bottom: 155px;
    }

    .competencies__title {
        margin-bottom: 50px;
        font-size: 45px;
        letter-spacing: -1.35px;
    }

    .competence__img {
        margin-bottom: 5px;
        width: 36px;
        height: 36px;
    }

    .competence__title {
        margin-bottom: 10px;
        font-size: 28px;
        letter-spacing: -0.84px;
    }

    .competence__text {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.54px;
    }

    .competencies__m_b {
        margin-bottom: 50px;
    }
}

@media (max-width: 575px) {
    .competencies {
        margin-bottom: 100px;
    }

    .competencies__title {
        margin-bottom: 50px;
        font-size: 45px;
        letter-spacing: -1.35px;
    }

    .competencies__container {
        display: flex;
        flex-direction: column;
        row-gap: 58px;
    }

    .competence__img {
        margin-bottom: 10px;
    }

    .competence__title {
        margin-bottom: 15px;
        font-size: 28px;
        letter-spacing: -0.84px;
    }

    .competence__text {
        font-size: 18px;
        letter-spacing: -0.54px;
    }
}