.connection {
    margin-bottom: 5px;
    width: 100%;
    height: 717px;
    border-radius: 30px;
    background: #191C19;
    position: relative;
    color: #FFF;
}

.connection__img {
    position: absolute;
    right: 0;
}

.connection__box {
    padding-top: 95px;
    height: 100%;
}

.connection__title {
    margin-bottom: 40px;
    max-width: 520px;
    color: #FFF;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
}

.connection__form {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.connection__input {
    margin-bottom: 25px;
    padding: 0 40px;
    width: 490px;
    line-height: 60px;
    font-size: 22px;
    text-align: start;
    border-radius: 1000px;
    border: none;
    background: #3B3D3B;
    color: #FFF;
}

.connection__input:nth-child(2) {
    margin-bottom: 60px;
}

.connection__input::-webkit-input-placeholder {
    color: #FFF;
}

.connection__btn {
    padding: 20px 0px;
    width: 450px;
    border-radius: 10px;
    background: #1BFF07;
    color: #000;
    border: none;
    text-align: center;
    font-size: 22px;
    font-family: IBM Plex Mono;
    line-height: normal;
    letter-spacing: -0.66px;
    cursor: pointer;
}

@media (max-width: 1180px) {
    .connection__input {
        width: 400px;
    }
}

@media (max-width: 1085px) {
    .connection__title {
        max-width: 370px;
        font-size: 45px;
    }

    .connection__form {
        padding: 0;
    }

    .connection__input {
        padding: 0 20px;
        width: 320px;
    }

    .connection__btn {
        width: 350px;
    }
}

@media (max-width: 961px) {
    .connection {
        height: 484px;
    }

    .connection__img {
        height: 484px;
    }

    .connection__box {
        padding: 50px 35px;
    }

    .connection__title {
        margin-bottom: 40px;
        max-width: 373px;
        font-size: 40px;
        line-height: 40.5px;
        letter-spacing: -1.2px;
    }

    .connection__form {
        padding: 0;
    }

    .connection__input {
        margin-bottom: 20px;
        padding: 0 25px;
        width: 330px;
        line-height: 40px;
        font-size: 16px;
        letter-spacing: -0.48px;
    }

    .connection__input:nth-child(2) {
        margin-bottom: 40px;
    }

    .connection__btn {
        padding: 12px 0px;
        width: 303px;
        font-size: 16px;
        letter-spacing: -0.48px;
    }
}

@media (max-width: 830px) {
    .connection__input {
        width: 280px;
    }

    .connection__img {
        width: 40%;
    }
}

@media (max-width: 635px) {
    .connection__title {
        max-width: 320px;
        font-size: 35px;
    }

    .connection__input {
        width: 230px;
    }

    .connection__btn {
        width: 280px;
    }
}

@media (max-width: 575px) {
    .connection {
        margin-bottom: 0;
        height: 428px;
    }

    .connection__img {
        display: none;
    }

    .connection__box {
        padding: 50px 0;
    }

    .connection__title {
        width: 310px;
        font-size: 35px;
        line-height: 37.329px;
        letter-spacing: -1.05px;
    }

    .connection__input {
        margin-bottom: 12px;
        padding: 0 18px;
        width: 315px;
        font-size: 15px;
        letter-spacing: -0.45px;
    }

    .connection__btn {
        padding: 11px 0px;
        width: 353px;
        font-size: 15px;
        letter-spacing: -0.45px;
    }
}

@media (max-width:380px) {
    .connection__input {
        width: 250px;
    }

    .connection__btn {
        width: 250px;
    }
}

@media (max-width:310px) {
    .connection__input {
        width: 200px;
    }

    .connection__btn {
        width: 200px;
    }
}