@import "nav.css";
@import "project.css";
@import "competencies.css";
@import "work.css";
@import "connection.css";
@import "footer.css";

html {
    scroll-behavior: smooth;
}

body {
    font-family: IBM Plex Mono;
    width: 100%;
    background: #FFFFFF;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 15px;
}

main {
    padding-top: 150px;
    background-color: #000;
}