@import "nav.css";
@import "burger.css";
@import "project.css";
@import "competencies.css";
@import "work.css";
@import "connection.css";
@import "footer.css";

html {
    scroll-behavior: smooth;
}

body {
    font-family: IBM Plex Mono;
    width: 100%;
    background: #FFFFFF;
    background-color: #000;
}

.body__fixed {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 15px;
}

@media (max-width: 961px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 575px) {
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }
}